.title h4 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0px;
    padding: 10px 0px 20px 20px;
}

.content {
    width: 38vw;
    margin-left: 20px;
}

.content p {
    color: rgb(49, 49, 49);
    font-size: 20px;
    font-weight: bold;
}

.content p label {
    float: right;
}

.content span {
    font-size: 15px;
}

.earnContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.earnInfo {
    display: flex;
    justify-content: space-between;
}
.hr {
    color: rgba(255, 0, 0, 0.1);
    background-color: rgba(221, 221, 221, 0.1);
}

.header {
    width: 40vw;
    height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: #E2EDF8;
}

.header div {
    margin: 0 20px;
}

.header div span {
    font-size: 30px;
    font-weight: bold;
}

.header div svg {
    margin: 5px 20px;
}

.arrowsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-color);
}