.title h4 {
    color: grey;
    font-size: 25px;
    margin: 0px;
    padding: 10px 0px 20px 20px;
}

.smallcard {
    background-color: #E2EDF8;
    float: left;
    padding: 5px 20px 20px 20px;
    margin: 20px;
    border-radius: 10px;
    width: 320px;
    cursor: pointer;
}

.smallcard:hover {
    background-color: #bcd2e9;
}

.smallcard h5 {
    font-size: 20px;
    color: #0D68C3;
    padding-bottom: 0px;
}

.smallcard p {
    font-size: 16px;
    color: grey;
    padding: 0px;
}

.form select {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    margin: 20px;
    background-color: #E2EDF8;
}

.form select:active, .form select::before, .form select::after {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: grey;
    margin: 20px;
    background-color: #E2EDF8;
}